version: '3'
services:
  dowload_model:
    build: .
    command: python download_model.py
    volumes: 
        - ./:/root
    network_mode: "bridge"
  flask:
    build: .
    command: gunicorn -b 0.0.0.0:8000 prediction_service:app --reload --workers 2
    environment:
      - FLASK_APP=prediction_service.py
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=True
    ports:
      - "8000:8000"
    restart: on-failure
    volumes:
        - ./:/root
    depends_on:
        - "dowload_model"