version: '3'
services:
  flask:
    build: .
    command: gunicorn -b 0.0.0.0:5001 prediction_service:app --reload --workers 1
    environment:
      - FLASK_APP=prediction_service.py
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=True
    ports:
      - "5001:5001"
    volumes:
      - ./:/root